.home-header-container{
  min-width: 1000px;
  font-size: 12px;
  font-family: "Amazon Ember", Arial, sans-serif;
  background-color: var(--header-color);
  height: 80px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  column-gap: 5px;
  padding-bottom: 10px;
}

.header-amazon-logo{
  background-image: url('../Images/amazon-logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  height:35px;
  width: 120px;
  margin-left: 20px;
}

.header-location-container{
  display: flex;
  justify-content: space-around;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  height: 70%;
  width: 200px;
  padding:6px;
}

.header-location-container:hover{
  border: 1px solid white;
}

.header-location-icon{
  display: flex;
  align-items: flex-end;
  width: 1.6rem;
  font-weight: bolder;
}

.header-address-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  row-gap: 10px;
}

.location-update{
  font-weight: bolder;
  font-size: 0.8rem;
}

.header-input-container{
  margin: 0 10px;
}

.header-input-search-box{
  width: 550px;
  height: 44px;
  border-radius: 0 6px 6px 0;
  border:0;
  outline: 0;
  font-size: 1rem;
  padding-bottom: 1px;
}

.header-input-dropdown{
  width: 65px;
  height:45px;
  padding: 6px;
  border-radius: 6px 0 0 6px;
}
