.home-header-container{
  min-width: 1000px;
  font-size: 12px;
  font-family: "Amazon Ember", Arial, sans-serif;
  background-color: var(--header-color);
  height: 65px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  column-gap: 10px;
  padding-bottom: 10px;
}

.amazon-logo-container{
   margin-left: 10px;
}

.header-amazon-logo{
  position: relative;
  top: 12px;
  left: 15px;
  background-image: url('../Images/amazon-logo.png');
  background-repeat: no-repeat;
  background-size: 90px;
  height:48px; 
  width: 120px;
}

.header-location-container{
  display: flex;
  justify-content: space-around;
  color: white;
  cursor: pointer;
  height: 90%;
  width: 200px;
  padding:6px;
}

.white-border:hover{
  border-radius: 4px;
  outline: 1px solid white;
}

.header-location-icon{
  display: flex;
  align-items: flex-end;
  width: 1.6rem;
  font-weight: bolder;
}

.header-address-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  row-gap: 10px;
}

.location-update{
  font-weight: bolder;
  font-size: 0.8rem;
}

.header-input-container{
  margin: 0 10px;
  display: flex;
  height: 65%;
  border-radius: 6px; 
}

.header-input-search-box{
  width: 550px;
  border:0;
  outline: 0;
  font-size: 1rem;
  padding-bottom: 1px;
}

.header-input-dropdown{
  padding: 5px;
  border-radius: 6px 0 0 6px;
  box-sizing: content-box;
  background-color: rgb(217, 215, 215);
  cursor: pointer;
  outline: none;
  border: none;
}

.input-search-icon{
  width: 1.7rem;
  background-color: #eca521;
  box-sizing: content-box;
  padding: 5px 5px 0 5px;
  border-radius: 0 6px 6px 0;
  cursor: pointer;
}

.input-search-icon:hover{
  background-color: #d09a35;
}

.header-language-dropdown-container{
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  position: relative;
  cursor:pointer;
}

.header-flag-image{
  width: 20px;
  height: 15px;
}

.header-language-dropdown{
  width: 15px;
  padding: 2px;
  font-size: bolder;
  font-size: 1.1rem;
  color: white
}

.language-arrow-down{
  width: 1.5rem;
  color:grey
}

.all-language-option-container{
  position: absolute;
  top: 40px;
  left:30px;
  width: 200px;
  min-height: 100px;
  border: 1px solid black;
  background-color: white;
  /* display: none; */
}



.language-option:hover{
  text-decoration: underline;
  color: orange;
}

.language-option-arrow-up{
  background-color:white;
  position: absolute;
  top: 34px;
  left: 60px;
  border: 1px solid black;
  width: 13px;
  height: 13px;
  transform: rotate(45deg);
  display: none;
}

.header-language-dropdown-container:hover > .all-language-option-container{
  display: block;
}

.header-language-dropdown-container:hover > .language-option-arrow-up{
  display: block;
}

.each-language-option-container{
  width: 90%;
  height: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 50px 1px 30px;
}

.option-circle{
  border-radius: 50%;
  width: 7px;
  height: 7px;
  outline: 1px solid black;
  outline-offset:2px;
  margin-right: 10px;
}

.option-circle:hover{
  background-color: orange;
}

.option-name-container{
  width: 90%;
  height: 55%;
  display: flex;
  justify-content: space-between;
  padding: 2px;
}

.option-name-container:hover{
  border-bottom: 2px solid orange;
}

.each-language-option-container:hover > .option-circle{
  background-color: orange;
}

.option-selected{
  background-color: #c48a1f;
}


