.selection-header-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #2f2a2a;
  color: white;
  padding: 5px;
  font-weight: bold;
  font-size: 1rem;
}

.selection-option{
  height: 30px;
  display: flex;
  align-items: center;
  padding:2px;
  cursor: pointer;
}

.header-hamburger img{
  width:3rem;
  display: none;
}

@media(max-width:600px){
  .header-hamburger img{
    display: block;
  }
}