.shopping-container{
  position: absolute;
  top:400px;
  padding :20px;
  display: flex;
  gap: 10px;
}

.shopping-card-container{
  background-color: white;
  width: 360px;
}

.shopping-card-title{
  font-size: 1.6rem;
  font-weight: bolder;
  padding:10px 0 0 40px;
}

.shopping-card-images-container{
  width: 400px;
  height: 350px;
  display: grid;
  grid-template-columns: 130px 130px;
  column-gap: 45px;
  justify-content: center;
  align-items: center;
}

.shopping-card-image{
  width: 130px;
  height: 120px;
  cursor: pointer;
}

.shopping-card-link{
  text-decoration: none;
  color: blue;
  margin-left: 40px;
  font-size: 0.9rem;
}

.signin-card{
  height: 150px;
  padding: 20px;
}

.signin-card button{
  width: 80%;
  margin-left:12%;
  margin-top: 10px;
  padding:4px;
  border-radius: 10px;
  border: none;
  background-color: var(--button);
  cursor: pointer;
}